<!DOCTYPE html>
<html>

<head>
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
  <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body>
  <div id="invoice-creator">
    <v-app dark>
      <v-content>
        <!-- <a href="/login">Login</a> -->
        <v-form id="invoiceForm" v-model="valid" ref="form" lazy-validation>
          <h1>Simple Invoice Form using VueJS and Vuetify for styling</h1>
          <v-container grid-list-xl fluid>
            <h2>Customer</h2>
            <v-layout wrap>
              <v-flex xs4>
                <v-text-field label="Name" v-model="customer.name" :rules="rules.nameRules" required></v-text-field>
                <v-text-field label="Address" v-model="customer.address1" :rules="rules.addressRules" required></v-text-field>
                <v-layout wrap>
                  <v-flex xs4>
                    <v-text-field label="Postal Code" v-model="customer.postalCode" :rules="rules.postalCodeRules" required></v-text-field>
                  </v-flex>
                  <v-flex xs4>
                    <v-text-field label="Postal Place" v-model="customer.postalPlace" :rules="rules.postalPlaceRules"  required></v-text-field>
                  </v-flex>
                </v-layout>
                <v-select label="Country" v-model="selected" :items="items" item-value="text" @change="selectCountry" required></v-select>
              </v-flex>

              <v-flex xs1></v-flex>

              <v-flex xs3>
                <v-layout wrap>
                  <v-flex xs4>
                    <v-text-field label="Landline" v-model="customer.landline" disabled></v-text-field>
                  </v-flex>
                  <v-text-field label="Phone" v-model="customer.mobile" :rules="rules.phoneRules"></v-text-field>
                </v-layout>
                <v-layout wrap>
                  <v-text-field label="E-mail" v-model="customer.email" :rules="rules.emailRules" required></v-text-field>
                </v-layout>
              </v-flex>

            </v-layout>
            <h2>Invoices
              <button type="button" v-on:click="addInvoice" class="btn btn-block btn-success">Add+</button>
            </h2>
            <div v-for="(invoice, index) in invoices" :key="invoice.id">
              <v-layout wrap>
                <button type="button" v-on:click="removeInvoice(index)" class="btn btn-block btn-danger">Remove</button>
                <v-flex xs3>
                  <v-text-field label="Article Number" v-model="invoice.articleNumber"></v-text-field>
                </v-flex>

                <v-flex xs3>
                  <v-text-field label="Description" v-model="invoice.text1"></v-text-field>
                </v-flex>
              </v-layout>
              <v-layout wrap>
                <v-flex xs1></v-flex>
                <v-flex xs1>
                  <v-text-field label="Unit" v-model="invoice.unit"></v-text-field>
                </v-flex>
                <v-flex xs1>
                  <v-text-field label="Quantity" v-model="invoice.quantity" @change="changeNetPrice(index)" :rules="rules.numberRules"></v-text-field>
                </v-flex>
                <v-flex xs1>
                  <v-text-field label="Unit Price" v-model="invoice.unitPrice" @change="changeNetPrice(index)" :rules="rules.numberRules"></v-text-field>
                </v-flex>
                <v-flex xs2>
                  <v-text-field label="Discount Rate(%)" v-model="invoice.discountRate" @change="changeNetPrice(index)" :rules="rules.numberRules"></v-text-field>
                </v-flex>
                <v-flex xs1>
                  <v-text-field label="Net Price" v-model="invoice.netPrice" disabled></v-text-field>
                </v-flex>
                <v-flex xs1>
                  <v-text-field label="VAT Rate(%)" v-model="invoice.vatRate" @change="changeVATAmount(index)" :rules="rules.numberRules"></v-text-field>
                </v-flex>
                <v-flex xs2>
                  <v-text-field label="VAT Amount" v-model="invoice.vatAmount" disabled></v-text-field>
                </v-flex>
                <v-flex xs2>
                  <v-text-field label="Sum" v-bind:value="invoice.netPrice+invoice.vatAmount" disabled></v-text-field>
                </v-flex>
              </v-layout>
            </div>
            <v-layout wrap>
              <v-flex xs6></v-flex>
              <v-flex xs2>
                <v-text-field label="Total Net Price" v-model="global.net" disabled></v-text-field>
              </v-flex>
              <v-flex xs2>
                <v-text-field label="Total VAT Amount" v-model="global.vat" disabled></v-text-field>
              </v-flex>

              <v-flex xs2>
                <v-text-field label="Gross" v-model="global.gross" disabled></v-text-field>
              </v-flex>
            </v-layout>

            <v-btn @click="submit" :disabled="!valid">
              Save
            </v-btn>
            <!-- <v-btn type="submit" :disabled="!valid">
                Save
              </v-btn> -->
            <v-btn @click="clear">clear</v-btn>
          </v-container>
        </v-form>
      </v-content>
    </v-app>
  </div>

  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="scripts/main.js"></script>
</body>

</html>